.add-task-button-container {
    display: flex;
    justify-content: flex-end;
}

.common-theme-btn {
    background: rgb(255, 160, 0);
    color: #fff;
}

.common-theme-btn:hover {
    background: rgb(255, 160, 0);
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}

.form-wrapper {
    display: flex;
    gap: 10px;
    flex-direction: column;
}